{% extends 'base.html.twig' %}

{% block title %}Ma super Bibliothèque{% endblock %}

{% block body %}
<div class="container text-center">
  <div class="row">
    <h2>Ajout</h2>
     {{ form(formulaire) }}
  </div>
</div>
{% endblock %}
